* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    height: 100%;
    width: 100vw;
    background-color: var(--body-color);
    overflow-x: hidden;
    background-image: url("/assets/img/stars_Mesa\ de\ trabajo\ 1.png");
    background-repeat: repeat;
    
}

/*==================== VARIABLES ====================*/
:root {
    --first-color: #e31b6d;
    --second-color: hsl(235, 77%, 66%);
    --first-color-alt: rgb(64, 62, 80);
    --first-color-lighter: rgb(37, 41, 54);
    --title-color: #fff;
    --text-color: #fff;
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: #fff;
    --body-color: #181818;
    --container-color: #FFF;
}


/*==================== BARRA NAVEGACIÓN ====================*/
.navbar {
    background-color: var(--body-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navbar__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.navbar__lista {
    list-style: none;
    margin-left: 20px;
}

.navbar__texto {
    font-weight: 600;
    justify-content: center;

}

.navbar__enlaces {
    text-decoration: none;
    padding: 20px 20px;
    color: var(--text-color);
    border-radius: 5px;

}

.navbar__enlaces:hover {
    background-color: var(--first-color-lighter);
    transition: 0.6s ease-out all;

}

.contenedorlogo {
    display: flex;
    justify-content: flex-start;

}

.contenedor__redes {
    display: flex;
    margin-left: 45rem;
}

.contenedor__redes__social {
    margin: 10px;
}


/*==================== HOME ====================*/

.contenedor {
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}


.contenedor__texto {
    font-size: 32pt;
    line-height: 36pt;
    pointer-events: none;
    color: var(--text-color);
    grid-area: hero_Title;
}

.contenedor__texto--destacar {
    color: var(--first-color);
}


/* ANIMACIÓN */

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}


/*==================== ABOUT ME ====================*/

.contenedor__info {
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 10px ; 
    grid-template-areas: 
      "text img"; 
      align-items: center;
      height: 1000px;
}

.text{
    display: grid; 
    grid-template-columns: 0.5fr 2.1fr 0.4fr; 
    grid-template-rows: 0.7fr 1.6fr 0.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". b ."
      ". . ."; 

    
}



  .img {
    display: grid; 
    grid-template-columns: 0.4fr 2.4fr 0.2fr; 
    grid-template-rows: 0.7fr 1.6fr 0.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". a ."
      ". . ."; 
      align-items: center;
  }
 


.contenedor__info_div {
    display: flex;
    align-items: center;
    margin-left: 10rem;
}

.contenedor__info_div_texto {

    color: var(--first-color);
    font-size: 40px;
    /* margin-top: 50rem;
    margin-left: 17rem; */
    grid-area: b;
    margin-left: 10rem;

}

.contenedor__info_div_texto-parrafo {
    height: auto;
    width: 30%;
    display: inline;
    color: var(--text-color);
    font-size: 20px;
    grid-area: b;
    align-items: center;
    margin-left: 10rem;
    /* margin-left: 17rem;
    text-indent: 50px;
    word-break: keep-all; */
}

.contenedor__imagen {
    border-radius: 100px;
    width: 310px;
    transition: transform .5s ease;
    vertical-align: middle;
    grid-area: a;
    align-items: center;
   

}


.contenedor__imagen:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}


/*==================== CONTACT ====================*/

.contenedor__principal {
    padding: 40px;
    background-color: var(--first-color-lighter);
    border-radius: 4px;
    border-color: var(--first-color-lighter);
}


.contenedor__contact {
    position: relative;
    width: 100%;
    padding: 40px 100px;

}

.contenedor__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}

.contenedor__titulo__texto {
    color: var(--text-color);
    font-weight: 500;

}


.caja {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr;
    grid-template-areas:
        "contact"
        "contact" ;
    grid-gap: 20px;
    margin-left: 400px;
    align-items: center;
    align-content: center;
    margin-bottom: 10rem;
}


.caja__contact {
    grid-area: contact;

}

.caja__contact-destacado {
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;

}




/*==================== PORTFOLIO ====================*/


.contenedor__portafolio__img {
    width: 500px;
    height: 300px;
    transition: transform .5s ease;
    vertical-align: middle;
    
    align-items: center;
}
   

.contenedor__portafolio__img:hover{
    transform: scale(1.1);
}

.contenedor__portafolio__titulos{
    color:var(--first-color);
    font-size: 20px;
    text-align: center;
}

.contenedor__portafolio__parrafos{
    color: var(--text-color);
    font-size: 15px;
    text-align: center;
}







/*==================== FORMULARIO ====================*/

.caja__form {
    position: relative;
   
   
}

.caja__form__row {
    display: flex;
    gap: 20px;
}

.caja__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.caja__input__text {
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.caja__input__celdas {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;

}

.caja__message{
    resize: none;
    width: 50rem;

}