* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    height: 100%;
    width: 100vw;
    background-color: var(--body-color);
    overflow-x: hidden;
    background-image: url("/assets/img/2107.w026.n002.637B.p1.637\ [Convertido].png");
    background-repeat: no-repeat;
    background-size: 100%;

}

/*==================== VARIABLES ====================*/
:root {
    --first-color: #00ccc5;
    --second-color: hsl(235, 77%, 66%);
    --first-color-alt: rgb(64, 62, 80);
    --first-color-lighter: rgb(37, 41, 54);
    --title-color: #fff;
    --text-color: #fff;
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: #fff;
    --body-color: #181818;
    --container-color: #FFF;
}


/*==================== BARRA NAVEGACIÓN ====================*/
.navbar {
    background-color: var(--body-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;


}

.navbar__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.navbar__lista {
    list-style: none;
    margin-left: 20px;
}

.navbar__texto {
    font-weight: 600;
    justify-content: center;

}

.navbar__enlaces {
    text-decoration: none;
    padding: 20px 20px;
    color: var(--text-color);
    border-radius: 5px;

}

.navbar__enlaces:hover {
    background-color: var(--first-color);
    transition: 0.7s ease-out all;

}

/*==================== BARRA NAVEGACIÓN  - HAMBURGUESA ====================*/

.toggle-button {
    position: absolute;
    top: 10rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    z-index: 999;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}


/*==================== BARRA NAVEGACIÓN  - HAMBURGUESA ====================*/


.contenedor__redes {
    display: flex;
    margin-left: 45rem;
}

.contenedor__redes__social {
    margin: 10px;
}

.logo {
    color: var(--first-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo_socials {
    width: 45px;
    height: 45px;
}

/*==================== HOME ====================*/

.contenedor {
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}


.contenedor__texto {
    font-size: 32pt;
    line-height: 36pt;
    pointer-events: none;
    color: var(--text-color);
    grid-area: hero_Title;
}

.contenedor__texto--destacar {
    color: var(--first-color);
}


/* ANIMACIÓN */

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}


/*==================== ABOUT ME ====================*/

.contenedor__info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-template-areas:
        "text img";
    align-items: flex-end;
    align-content: flex-end;
    margin-left: 10rem;
    height: 700px;
}

.text {
    display: grid;
    grid-template-columns: 0.5fr 2.1fr 0.4fr;
    grid-template-rows: 0.7fr 1.6fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        ". b ."
        ". . .";


}



.img {
    display: grid;
    grid-template-columns: 0.4fr 2.4fr 0.2fr;
    grid-template-rows: 0.7fr 1.6fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        ". a ."
        ". . .";
    align-items: center;
}





.contenedor__info_div_texto {

    color: var(--first-color);
    font-size: 30px;
    grid-area: b;
    /* position: relative;
    margin-right: 10px; */



}

.contenedor__info_div_texto-parrafo {
    height: auto;
    width: 30%;
    display: inline-flex;
    color: var(--text-color);
    font-size: 20px;
}

.contenedor__imagen {
    border-radius: 100px;
    width: 310px;
    transition: transform .5s ease;
    vertical-align: middle;
    grid-area: a;
    align-items: center;


}


.contenedor__imagen:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}




.mouse__transition::before {
    transform: scaleX(0);
    transform-origin: left;


}

.mouse__transition:hover::before {
    transform: scaleX(.6);
    transform-origin: bottom left;
}


.mouse__transition::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--text-color);
    /* opacity: 50%; */
    z-index: -1;
    transition: transform .5s ease;

}

.mouse__transition {
    position: relative;

    font-size: 3rem;
}

.logo__size {
    width: 50px;
    height: 50px;
}

/*==================== CONTACT ====================*/

.contenedor__principal {
    margin-top: 10rem;
    padding: 30px;
    background-color: var(--first-color);
    border-radius: 4px;
    border-color: var(--first-color);
   
}


.contenedor__contact {
    margin-top: 10rem;
    justify-items: center;
    justify-content: center;
}

.contenedor__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}

.contenedor__titulo__texto {
    color: var(--text-color);
    font-weight: 500;

}


.caja {
    position: relative;
    display: grid;
    grid-template-columns:  2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "contact "
        "contact";
    grid-gap: 20px;
    /* margin-left: 29rem; */
    justify-content: center;
    justify-items: center;
    margin-bottom: 10rem;
   
}


.caja__contact {
    grid-area: contact;
    
}

.caja__contact-destacado {
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;

}




/*==================== PORTFOLIO ====================*/



.contenedor__portafolio__img {
    width: 500px;
    height: 250px;
    transition: transform .5s ease;
    vertical-align: middle;
    align-items: center;
    border-radius: 3px;
}


.contenedor__portafolio__img:hover {
    transform: scale(1.1);
}

.contenedor__portafolio__titulos {
    color: var(--first-color);
    font-size: 20px;
    text-align: center;
}

.contenedor__portafolio__parrafos {
    color: var(--text-color);
    font-size: 15px;
    text-align: center;
}

/*==================== FORMULARIO ====================*/

.caja_form__title {
    color: var(--first-color);
    font-size: 50px;
}

.caja__form__texto {
    height: auto;
    width: 40%;
    display: inline;
    color: var(--body-color);
    font-size: 20px;
    grid-area: b;
    align-items: center;

}

.caja__form {
    position: relative;
    width: 100%;
    padding-top: 5rem;
    display: block;
    position: relative;
}


.caja__form__row {
    display: flex;
    gap: 20px;
}

.caja__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.caja__input__text {
    color: var(--body-color);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.caja__input__celdas {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;
    background-color: #181818;

}

.caja__message {
    resize: none;
    width: 50rem;

}

.caja__boton {
    display: block;
    color: var(--body-color);
    font-size: 14px;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


/*==================== FOOTER ====================*/
footer {
    text-align: center;
    color: var(--text-color);
}

.up {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fcb8aa;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;

}